@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 5% 10% 0 18%;
}
@media (max-width: 600px) {
    body {
        margin: 10% 10% 0% 5%;
    }
}

.credits {
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 2vh;
    font-family: "Montserrat", sans-serif;
    font-size: .875rem;
    color: #A9A9A9;
}

.credits span {
    text-decoration:underline;
    font-weight: 600;
}

.header {
    display: flex;
    margin-bottom: 30vh;
}

@media (max-width: 600px) {
    .header {
        display: block;
        margin-bottom: 10vh;
    }
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team div {
    margin-bottom: 1.25rem;
    margin-right: .9375rem;
}

.image {
    max-width: 15vw;
}

@media (max-width: 600px) {
    .image {
        max-width: 30vw;
    }
}

.member-position {
    margin-left: -2.1875rem;
    writing-mode: vertical-rl;
    font-family: "PT Serif", serif;
    font-size: .75rem;
    font-weight: 400;
    margin-right: 6.25rem;
}
@media (max-width: 600px) {
    .member-position {
        margin-right: 0.3125rem;
    }
}

.member-name {
    font-weight: 600;
}

.intro-title {
    font-family: "PT Serif", serif;
    font-style: normal;
    font-size: 2.25rem;
    line-height: 3rem;
    letter-spacing: -0.045em;
    width: 30vw;
    margin: 0 0 0 0;
}

.intro-text {
    width: 25vw;
    margin: 0;
    align-self: flex-end;
    font-size: 1.125rem;
}

@media (max-width: 600px) {
    .intro-title  {
        width: 100vw;
    }
    .intro-text {
        width: 80vw;
        margin-top: 10vh;
    }
}

#who-we-are {
    font-weight: 600;
    line-height: 1.6875rem;
    color: black;
}

#image2 , #image5 {
    margin-top: 15vh;
}

#member2 , #member5 {
    margin-top: 15vh;
}
@media (max-width: 600px) {
    #image2 , #image4, #image6  {
        margin-top: 15vh;
    }
    #image5 {
        margin-top: 0;
    }
    #member2 , #member4, #member6 {
        margin-top: 15vh;
    }
    #member5 {
        margin-top: 0;
    }
}